* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  color: #fff;
  text-align: center;
  background-color: #505050;
  height: 220px;
  margin-bottom: 55px;
}

h1 {
  padding: 30px 0px 10px 0px;
  font-size: 3rem;
}

.header p {
  font-size: 2rem;
}

.header img {
  border: solid 3px #fff;
  transform: translateY(30px);
  width: 130px;
  border-radius: 100%;
  box-shadow: 1px 1px 5px #555;
}

.main {
  height: 100vh;
  background-color: #fafafa;
}

.section {
  margin: auto;
  padding: 50px 100px;
  width: 90%;
  box-shadow: 1px 1px 15px #555;
  text-align: center;
}

.icons {
  padding: 20px 0;
  color: grey;
  font-size: 1.5rem;
}

.icons i {
  margin: 0 5px;
}

.section p {
  text-align: center;
  margin-bottom: 30px;
}

.buttons button {
  padding: 10px 20px;
  background-color: rgb(0, 162, 255);
  border: none;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
  box-shadow: 1px 1px 15px #555;
}

.experience {
  padding: 50px;
  text-align: center;
  color: rgb(71, 69, 69);
  flex-direction: column;
}

.container_experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  padding: 20px;
  flex-direction: column;
}

.elements {
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  box-shadow: 1px 1px 15px #555;
}

.elements h3 {
  color: #fff;
  font-weight: 100;
  padding: 20px;
  background-color: rgb(68, 66, 66);
  margin-bottom: 15px;
}

.elements h4 {
  text-align: center;
  padding: 5px;
}

.elements p {
  text-align: center;
  padding: 5px;
}

.elements li {
  margin-left: 20px;
}
